# 발라드 인기순 데이터 concat

In [1]:
# 라이브러리 로드
import pandas as pd
import numpy as np
from glob import glob

In [2]:
# 데이터 확인
root_dir = "data_ballad"

song_list = glob(f"{root_dir}/*.csv")
song_list

['data_ballad\\melon_ballad_15001_24500.csv',
 'data_ballad\\melon_ballad_1_15000.csv',
 'data_ballad\\melon_ballad_24501_29500.csv',
 'data_ballad\\melon_ballad_30001_40000.csv',
 'data_ballad\\melon_ballad_40001_50000.csv',
 'data_ballad\\melon_ballad_50001_55000.csv',
 'data_ballad\\melon_ballad_55000_56000.csv',
 'data_ballad\\melon_ballad_56001_60000.csv',
 'data_ballad\\melon_ballad_60001_66000.csv',
 'data_ballad\\melon_ballad_70001_73000.csv',
 'data_ballad\\melon_ballad_73001_75000.csv']

In [3]:
# 리스트 형태로 담아서 concat
songs = []
raw = 0
for file_name in song_list:
    df = pd.read_csv(file_name, encoding="utf-8")
    raw += df.shape[0]
    print(file_name, " shape : ", df.shape)
    print("행 합계 : ", raw)
    songs.append(df)

data_ballad\melon_ballad_15001_24500.csv  shape :  (8145, 6)
행 합계 :  8145
data_ballad\melon_ballad_1_15000.csv  shape :  (13346, 6)
행 합계 :  21491
data_ballad\melon_ballad_24501_29500.csv  shape :  (4290, 6)
행 합계 :  25781
data_ballad\melon_ballad_30001_40000.csv  shape :  (8440, 6)
행 합계 :  34221
data_ballad\melon_ballad_40001_50000.csv  shape :  (9181, 6)
행 합계 :  43402
data_ballad\melon_ballad_50001_55000.csv  shape :  (5273, 6)
행 합계 :  48675
data_ballad\melon_ballad_55000_56000.csv  shape :  (1478, 6)
행 합계 :  50153
data_ballad\melon_ballad_56001_60000.csv  shape :  (2861, 6)
행 합계 :  53014
data_ballad\melon_ballad_60001_66000.csv  shape :  (5925, 6)
행 합계 :  58939
data_ballad\melon_ballad_70001_73000.csv  shape :  (2241, 6)
행 합계 :  61180
data_ballad\melon_ballad_73001_75000.csv  shape :  (1589, 6)
행 합계 :  62769

In [4]:
# concat
df_all = pd.concat(songs)
display(df_all.head(2))
df_all.shape

,제목,가사,가수,발매일,좋아요수,장르
0,Remember,다시는 그 때로\r\n돌아갈 순 없나봐\r\n너무 먼 길을\r\n온 것만 같아\r\...,가비엔제이,2008.02.21,976,"발라드, 국내영화"
1,꿈의 시간들,수많은 방황을 지나\r\n난 눈을 뜬거야\r\n내 길이 여기에\r\n눈 앞이 흐려져...,테이,2008.06.17,582,"발라드, 국내드라마"

(62769, 6)

In [5]:
# 좋아요수 쉼표 제거
df_all["좋아요수"] = df_all["좋아요수"].str.replace(",", "")

In [6]:
# 쉼표 제거 후 na값 생김. 0으로 처리
df_all = df_all.fillna(0)

In [7]:
# 좋아요수 uint32 downcast
df_all["좋아요수"] = df_all["좋아요수"].astype("uint32")

In [8]:
# 메모리 용량이 그렇게 크지 않기 때문에 문자열은 그냥 놔뒀음
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62769 entries, 0 to 1588
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      62769 non-null  object
 1   가사      62769 non-null  object
 2   가수      62769 non-null  object
 3   발매일     62769 non-null  object
 4   좋아요수    62769 non-null  uint32
 5   장르      62769 non-null  object
dtypes: object(5), uint32(1)
memory usage: 3.1+ MB

In [9]:
# 중복데이터 확인
df_all[df_all.duplicated(subset=["제목", "가사"], keep=False)].sort_values(by="좋아요수", ascending=False)

,제목,가사,가수,발매일,좋아요수,장르
18,"모든 날, 모든 순간 (Every day, Every Moment)",네가 없이 웃을 수 있을까\r\n생각만 해도 눈물이나\r\n힘든 시간 날 지켜준 사...,폴킴,2018.03.20,411881,"발라드, 국내드라마"
41,"어떻게 이별까지 사랑하겠어, 널 사랑하는 거지",일부러 몇 발자국 물러나\r\n내가 없이 혼자 걷는 널 바라본다\r\n옆자리 허전한...,AKMU (악뮤),2019.09.25,396470,발라드
102,좋니,이제 괜찮니 너무 힘들었잖아\r\n우리 그 마무리가 고작 이별뿐인 건데\r\n우린 ...,윤종신,2017.06.22,357019,발라드
1,너의 모든 순간,이윽고 내가 한눈에\r\n너를 알아봤을 때\r\n모든 건 분명 달라지고 있었어\r\...,성시경,2014.02.12,243092,"발라드, 국내드라마"
129,이 소설의 끝을 다시 써보려 해,시계가 반대로 돌아가고 있어\r\nTV속 영화가 되감아지고 있어\r\n내렸던 빗물이...,한동근,2014.09.30,233982,발라드
...,...,...,...,...,...,...
166,혼자랍니다,나 혼자랍니다\r\n이제 그녀도 혼자랍니다\r\n몇일이 지났는데 괜찮습니다\r\n정...,더 넛츠 (The NuTs),2008.03.28,0,"발라드, 록/메탈"
167,고맙습니다 (드라마 '고맙습니다'),당신은 바보네요\r\n정말 고맙습니다\r\n나 하나밖에 모르고\r\n아낌없이 다 준...,Doori Singers,2008.03.25,0,발라드
168,손수건,울고있는 여자 친구에 눈물을닦아주려고\r\n하얗게접어놓았던 손수건을꺼내죠\r\n괜찮...,Doori Singers,2008.03.25,0,발라드
169,우리가 이별할 때,울지마 너까지\r\n울면 난 어떡해\r\n남자답게 헤어지자\r\n몇 번씩이나 다짐했...,Doori Singers,2008.03.25,0,발라드
905,그늘 숲,미칠 듯한 슬픔이 찾아와도\r\n그 어디에도 드러낼 수 없는\r\n아무런 온기 없는...,김동욱,2008.04.04,0,발라드

In [10]:
# 중복행 제거, 좋아요수 많은 것을 keep
df_all = df_all.sort_values(by="좋아요수", ascending=False).drop_duplicates().reset_index(drop=True)
df_all.shape

(57448, 6)

In [ ]:
# parquet 로 저장하기
# df_all.to_parquet(f"{root_dir}/ballad_all.gzip", compression="gzip")